@import "tailwindcss";

@plugin "daisyui";
* {
  box-sizing: border-box;
}
@plugin "daisyui" {
  themes: all;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
[data-theme="dark"] {
  --color-base-100: #141414; 
  --color-base-200: #0c0c0c;
  --color-base-300: #141414;

  
}